<div>
    <h1>Log in</h1>
    <form action="auth/login" method="post">
        <label>Email</label>
        <input type="text" name="username" id="email">
        <br>
        <label>Password</label>
        <input type="text" name="password" id="password">
        <button type="submit" id="btnSummit">Join</button> 
    </form>
</div>
<script src="../public/js/login.js"></script>